
<div id="control">
  <div class="pictorial">
  <% @consonents.each do |letter|%>
    <a href="/<%= letter %>"><%= letter %></a>
  <% end%>
  </div>
</div>

<div class="pictorial">

  <div class="text-blue-500 text-2xl font-bold ml-40">
    <p>
       ئۇيغۇر تىلىدا <%= @consonents.length() %> ئ‍ۈزۈك تاۋۇش بار. 
    </p>
  </div>

  <div class="text-blue-500 text-2xl font-bold mr-40">
    <p>
      .There are <%= @consonents.length() %> consonents in Uyghur alphabet
    </p>
  </div>

</div>

<div class="text-center mt-20">
  <a href="/">
    <button class="bg-blue-400 text-white font-bold py-2 px-4 rounded hover:bg-blue-600" >
      Back
    </button>
  </a>
</div>
