
<!--option list-->
<div id="control">
  <div class="option-list">
    <div class="option-button"><a href="/vowels"><button class="bg-blue-400 text-white font-bold py-2 px-4 rounded hover:bg-blue-600" >Vowels</button></a></div>
    <div class="option-button"><a href="/consonents"><button class="bg-blue-400 text-white font-bold py-2 px-4 rounded hover:bg-blue-600">Consonents</button></a></div>
    <div class="option-text"><em>(The Consonents)</em></div>
    <div class="option-text">ئ‍ۈزۈك تاۋۇشلار</div>
  </div>
</div>



<div id="control">
  <div class="pictorial">
  <% @consonents.each do |letter|%>
    <a href="/<%= letter %>"><%= letter %></a>
  <% end%>
  </div>
</div>
