
<div class="pictorial">
  <h1><%= @chosed_letter %></h1>
</div>

<div class="flex justify-center">
  <form action="/<%= @chosed_letter %>/example_<%= @chosed_letter %>">
      <button type="submit" class="bg-blue-400 text-white font-bold py-2 px-4 rounded hover:bg-blue-600">
        Make a word starts with "<%= @chosed_letter %>" in Uyghur language
      </button>
  </form>
</div>

<div class="text-center mt-20">
  <a onclick="window.history.go(-1);" class="bg-blue-400 text-white font-bold py-2 px-4 rounded hover:bg-blue-600">
      Back
  </a>
</div>
