
<!--option list-->
<div id="control">
  <div class="option-list">
    <div class="option-button"><button class="bg-blue-400 text-white font-bold py-2 px-4 rounded hover:bg-blue-600" action="href">Vowels</button></div>
    <div class="option-button"><button class="bg-blue-400 text-white font-bold py-2 px-4 rounded hover:bg-blue-600" action="href">Consonents</button></div>
    <div class="option-text"><em>(The Alphabet)</em></div>
    <div class="option-text">ئېلىپبە</div>
  </div>
</div>



<div id="control">
  <div class="pictorial">
  <% @letters.each do |letter|%>
    <a href="/<%= letter %>"><%= letter %></a>
  <% end%>
  </div>
</div>
