
<div id="control">
  <div class="pictorial">
  <% @letters.each do |letter|%>
    <a href="/<%= letter %>"><%= letter %></a>
  <% end%>
  </div>
</div>

<div class="pictorial">

  <div class="text-blue-500 text-2xl font-bold ml-40">
    <p>
       ئۇيغۇر تىلىدا <%= @letters.length() %> ھەرپ بار. 
    </p>
  </div>

  <div class="text-blue-500 text-2xl font-bold mr-40">
    <p>
      .There are <%= @letters.length() %> letters in Uyghur alphabet
    </p>
  </div>

</div>
