<h1>Learn Uyghur language alphabet</h1>

<div id="">
	<div class="header"><div id="heading" class='hover_title' onMouseOver="playSound(-1)">ئېلىپبە</div>
	<div class="header-translation">(The Alphabet)</div>
</div>



<div id="content">
  <div class="pictorial">
  <% @letters.each do |letter|%>
    <a href="/<%= letter %>"><%= letter %></a>
  <% end%>
  </div>
</div>
