<!--<h1>Learn Uyghur language alphabet</h1>-->


<div id="control">
  <div class="parent-div">
    <div class="child-div">Vowels</div>
    <div class="child-div">Consonents</div>
    <div class="child-div"><em>(The Alphabet)</em></div>
    <div class="child-div">ئېلىپبە</div>
  </div>
</div>



<div id="control">
  <div class="pictorial">
  <% @letters.each do |letter|%>
    <a href="/<%= letter %>"><%= letter %></a>
  <% end%>
  </div>
</div>
