<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learn Uyghur Alphabets</title>
    <link href="css/style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
  </head>

  <body>

  <!--Navigation Bar -->
    <header class="bg-blue-400 text-white sticky top-0 z-50">
        <div class="flex justify-between items-center p-4">

            <h1 class="text-2xl font-bold hover:text-yellow-400" >
              <a href="/">
                Learn Uyghur Alphabets
              </a>
            </h1>

            <h1 class="text-2xl font-bold hover:text-yellow-400" dir="rtl">
              <a href="/">
                ئۇيغۇرچە ھەرىپلەرنى ئ‍ۆگىنەيلى
              </a>
            </h1>

        </div>
    </header>

  <!--option list-->
    <div id="control">
      <div class="option-list">
        <div class="option-button">

          <div>
            <a href="/vowels">
              <button class="bg-blue-400 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 mr-10">
                Vowels
              </button>
            </a>
          </div>

          <div>
            <a href="/consonents">
              <button class="bg-blue-400 text-white font-bold py-2 px-4 rounded hover:bg-blue-600">
                Consonents
              </button>
            </a>
          </div>

        </div>

        <div class="option-text">

          <div class="text-dark-500 text-2xl font-bold mr-4">
            <em>
              (The Alphabet)
            </em>
          </div>

          <div class="text-blue-500 text-2xl font-bold">
            ئېلىپبە
          </div>

        </div>

      </div>
    </div>


    <%= yield %>
  </body>
</html>
