<!DOCTYPE html>
<html>
  <head>
    <title>Learn Uyghur language</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Add this in your <head> section -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
      .pictorial{
          display: flex; /* Enables flexbox layout */
          flex-wrap: wrap; /* Allows letters to wrap to the next line */
          justify-content: center; /* Aligns letters horizontally */
          align-items: center; /* Aligns letters vertically */
          direction: rtl; /* Sets text direction to right-to-left */
          unicode-bidi: bidi-override; /* Ensures correct RTL behavior */
          font-size: 400%;
          margin: 20px;
          padding: 0px;
          color:#0000ff; 
          text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
          user-select: none;
      }
      .pictorial a {
          margin-right: 50px; /* Space between letters */
          text-decoration: none; /* Removes underline */
          color: inherit; /* Uses the same color as .pictorial */
          transition: transform 0.3s ease; /* Smooth zoom effect */
      }
      .pictorial a:hover{
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);	
          transform: scale(1.05);	
          text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
      }
      #content {
          display: flex; /* Enable flexbox */
          justify-content: center; /* Horizontally centers the content */
          align-items: center; /* Vertically centers the content */
          width: 100%; /* Full width of the container */
          height: 100vh; /* Full height of the viewport */
          
          margin-top: auto;
      }
    </style>
  </head>

  <body>

    <!-- Navigation Bar -->
    <header class="bg-blue-400 text-white sticky top-0 z-50">
        <div class="container mx-auto flex justify-between items-center p-4">
            <h1 class="text-2xl font-bold hover:text-yellow-400" ><a href="/">Uyghur language ئۇيغۇرچە</a></h1>
            <nav>
                <ul class="flex space-x-6">
                    <li><a href="/about" class="hover:text-gray-400">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <%= yield %>
  </body>
</html>
