<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learn Uyghur Alphabets</title>
    <link href="css/style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
  </head>

  <body>

     <!--Navigation Bar -->
    <header class="bg-blue-400 text-white sticky top-0 z-50">
        <div class="flex justify-between items-center p-4">
            <h1 class="text-2xl font-bold hover:text-yellow-400" ><a href="/">Uyghur Alphabets</h1>
            <h1 class="text-2xl font-bold hover:text-yellow-400" dir="rtl"><a href="/">ئۇيغۇرچە ھەرىپلەر</a></h1>
        </div>
    </header>

    <%= yield %>
  </body>
</html>
