
<div class="pictorial">
  <h1><%= @chosed_letter %></h1>
</div>


<!-- output the openai response-->
<div class="pictorial">
  <div class="text-blue-500 text-2xl font-bold" dir="ltr">
    <p>
      <%= @content %>
    </p>
  </div>
</div>
