* {
  user-select: none;
}

.pictorial{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  direction: rtl; 
  unicode-bidi: bidi-override; 
  font-size: 400%;
  margin: 20px;
  padding: 0px;
  color:#0294fc; 
  text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
}

.pictorial a {
  margin-right: 9%; 
  text-decoration: none; 
  color: inherit; 
  transition: transform 0.3s ease; 
  position: relative;
  cursor: pointer;
}
.pictorial a:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);	
  text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}

#control {
  max-width:1500px; 
  margin:auto;
  margin-top:40px;
  width: 100%
}

.option-list {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  border-bottom: 1px solid black; 
  padding-bottom: 10px; 
  margin-bottom: 20px; 
  margin-top: 20px; 
}

.option-button {
  display: flex;
  justify-content: space-between; 
}

.option-text {
  display: flex;
  justify-content: space-between; 
}

.request-button {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

.pictorial a::after {
  content: "Double tap to visit";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: gray;
  opacity: 0;
  transition: opacity 0.2s;
}

.pictorial a:active::after {
  opacity: 1;
}
